body {
  margin: 0;
  background-color: #ededed;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  color: orangered;
}

button {
  padding: 24px 32px;
  margin-top: 26px;
  border-radius: 8px;
  box-sizing: border-box;
  min-width: 128px;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height:100vh;
}

.header-container {
  display: flex;
  font-size: 90px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.content-container {
  display: flex;
  gap: 16px;
}

.sketch-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.slider-text {
  text-align: center;
  font-size: 18px;
}

.clear-container > button {
  min-width: 127px;
}

.custom-color-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type=color] {
  margin-top: 12px;
  width: 85px;
  height: 85px;
  border: none;
}

input[type=color]::-webkit-color-swatch {
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.grid-container {
  display: grid;
  width: 500px;
  height: 500px;
  grid-template-columns: auto;
  grid-template-rows: auto;
  box-shadow: rgba(0, 0, 0, 0.301);
}

.grid-square {
  background-color: #fefefe;
  border: .91px solid rgb(0 0 0 / 4%);
}

.footer-container {
  margin-top: auto;
  padding-bottom: 16px;
  font-size: 18px;
}

.github-logo {
  font-size: 24px !important;
}